In [344]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\danish gazi\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: trio~=0.17 in c:\users\danish gazi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\danish gazi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\danish gazi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\danish gazi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: attrs>=19.2.0 in c:\users\danish gazi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\danish gazi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\danish gazi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\danish gazi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\danish gazi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\danish gazi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: outcome in c:\users\danish gazi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\danish gazi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\danish gazi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\danish gazi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\danish gazi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\danish gazi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [345]:
# Importing all necessary libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [346]:
# Creating an instance driver by connecting it to our web driver
driver=webdriver.Chrome(r"D:\webdriver\chromedriver.exe")

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [347]:
# Sending URL to our Driver
driver.get('https://www.naukri.com/')

In [350]:
# Sending keys
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [351]:
#Sending Location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [352]:
# Searching location and keys
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [353]:
# Creating empty list for storing values
job_title1=[]
job_location1=[]
company_name1=[]
experience_required1=[]

In [354]:
# Searching all title on the page and store it in job title1 empty list
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title1.append(title)
job_title1[0:10]

#Searching all location on the page and store it in job location1 empty list
location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    job_location1.append(i.text)
job_location1[0:10]  


#Searching all company name on the page and store it in company name1 empty list
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company_name1.append(i.text)
company_name1[0:10]

#Searching all experience on the page and store it in experience required1 empty list
experienced_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experienced_tag:
    experience_required1.append(i.text)
experience_required1[0:10]

['3-6 Yrs',
 '2-5 Yrs',
 '6-8 Yrs',
 '1-6 Yrs',
 '1-2 Yrs',
 '1-2 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '2-7 Yrs']

In [355]:
# Creating Data Frame using Pandas
df=pd.DataFrame({"Job title":job_title1[0:10],"Job Location":job_location1[0:10],"Company name":company_name1[0:10],"Experience required":experience_required1[0:10]})
df.index+=1
df

,Job title,Job Location,Company name,Experience required
1,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",Latentview,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Varite,2-5 Yrs
3,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,6-8 Yrs
4,Data Analyst - CRM Platform,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Artech infosystem,1-6 Yrs
5,Data Analyst - FinTech,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Primo Hiring,1-2 Yrs
6,Data Analyst - FinTech,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Primo Hiring,1-2 Yrs
7,Data Analyst,Bangalore/Bengaluru,What Digital Technologies Private Limited,4-8 Yrs
8,Freelancer - Data Analyst - Contractual Role,Bangalore/Bengaluru,WEN,3-6 Yrs
9,Lead Data Analyst (SQL & Python) - US MNC (ana...,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Aspyra HR Services,5-10 Yrs
10,data analyst / data analytics - US MNC (analyt...,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Aspyra HR Services,2-7 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [392]:
#Creating Driver by providing webdriver address
driver=webdriver.Chrome(r"D:\webdriver\chromedriver.exe")

In [393]:
#Sending request to url
driver.get('https://www.naukri.com/')

In [394]:
#Sending Data Scientist using class name.
desii=driver.find_element(By.CLASS_NAME,"suggestor-input ")
desii.send_keys('Data Scientist')

In [397]:
# Sending location using XPATH of location tab
lo=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
lo.send_keys('Bangalore')

In [398]:
# Cicking on search button using XPATH of search button
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [399]:
#Creating empty lists of titles location and company name to store values in it
job_title2=[]
job_location2=[]
company_name2=[]

In [400]:
# Searching for all job titles using XPATH of Titles and storing them in job titles
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title2.append(title)
job_title2[0:10]

#Searching for all Locations using its XPATH and storing them in job locations
location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    job_location2.append(i.text)
job_location2[0:10]  


#Searching for all Company names using xpath and storing them into company names.
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company_name2.append(i.text)
company_name2[0:10]

['Accenture',
 'Accenture',
 'Mphasis',
 'CitiusTech',
 'ZS Associates',
 'Tech Mahindra',
 'Boston Consulting Group',
 'IBM',
 'Walmart',
 'Wipro']

In [401]:
#Presenting the data in form of Data Frame using Pandas
df=pd.DataFrame({"Job title":job_title2[0:10],"Job Location":job_location2[0:10],"Company name":company_name2[0:10]})
df.index+=1     
df

,Job title,Job Location,Company name
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis
4,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
5,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates
6,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
8,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
9,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart
10,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [408]:
# Connecting webdriver
driver=webdriver.Chrome(r"D:\webdriver\chromedriver.exe")

In [409]:
#Sending URL
driver.get('https://www.naukri.com/')

In [410]:
#Sending keys Data Scientist Using Class Name
desi=driver.find_element(By.CLASS_NAME,"suggestor-input ")
desi.send_keys('Data Scientist')

In [411]:
#Clicking on Search Button
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [413]:
#Selecting Location filter
locfilt=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]")
locfilt.click()

In [414]:
# Selecting the salary filter
salfilt=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salfilt.click()

In [415]:
# Creating empty lists to store values
job_title3=[]
job_location3=[]
company_name3=[]
experience_required3=[]
salary3=[]

In [416]:
# Searching the titles, location,company name,experience, salary using their xpaths and storing them in their respective empty lists
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title3.append(title)
job_title3[0:10]


location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    job_location3.append(i.text)
job_location3[0:10]  



company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company_name3.append(i.text)
company_name3[0:10]


experienced_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experienced_tag:
    experience_required3.append(i.text)
experience_required3[0:10] 


salary_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi salary"]')
for i in salary_tag:
    salary3.append(i.text)
salary3[0:10]

['Not disclosed',
 'Not disclosed',
 '3,00,000 - 4,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '5,00,000 - 12,00,000 PA.',
 'Not disclosed',
 'Not disclosed']

In [417]:
# Creating Data frame using Pandas
df=pd.DataFrame({"Job title":job_title3[0:10],"Job Location":job_location3[0:10],"Company name":company_name3[0:10],"Experience required":experience_required3[0:10],"Salary":salary3[0:10]})
df.index+=1     
df

,Job title,Job Location,Company name,Experience required,Salary
1,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs,Not disclosed
2,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs,Not disclosed
3,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs,"3,00,000 - 4,50,000 PA."
4,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs,Not disclosed
5,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs,Not disclosed
6,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs,Not disclosed
7,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs,Not disclosed
8,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs,"5,00,000 - 12,00,000 PA."
9,Data Scientist - Mumbai - Immediate Joiner Req...,"Delhi / NCR, Mumbai, New Delhi",HueCanvas Consulting,2-7 Yrs,Not disclosed
10,Data Scientist,Noida,NGI Ventures,0-5 Yrs,Not disclosed

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then 
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses

In [418]:
# connecting driver
driver=webdriver.Chrome(r"D:\webdriver\chromedriver.exe")

In [419]:
# Sending url
driver.get('http://www.flipkart.com/')

In [420]:
# Closing the login page
close1=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close1.click()

In [421]:
#sending keys sunglasses in search bar using xpath
finds=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
finds.send_keys('sunglasses')

In [422]:
#clicking n the search button
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [423]:
#Creating empty lists to store values 
brand=[]
pda=[]
price=[]
discount=[]

In [426]:
# Creating a loop for searching through multiple pages and searching with the help of xpath and storing the brand description 
# price and discounts in lists and also using time.sleep function so our code starts itearating 3 seconds late so our webpage
# can be loaded successfully
s=0
e=4
for page in range(s,e):
    brnd=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brnd:
        brand.append(i.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)

In [425]:

s=0
e=4
for page in range(s,e):
    pdd=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pdd:
        pda.append(i.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)

In [427]:
s=0
e=4
for page in range(s,e):
    pr=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr:
        price.append(i.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)

In [429]:
s=0
e=4
for page in range(s,e):
    disc=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in disc:
        discount.append(i.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)

In [430]:
#Using pandas representing the data in DATA FRAME
df=pd.DataFrame({"Brand":brand[0:100],"Produsct decription":pda[0:100],"Price":price[0:100],"Discount":discount[0:100]})
df.index+=1
df

,Brand,Produsct decription,Price,Discount
1,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649,74% off
2,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹399,80% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
4,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹249,58% off
5,SHAAH COLLECTIONS,UV Protection Round Sunglasses (54),₹179,86% off
...,...,...,...,...
96,Singco India,UV Protection Cat-eye Sunglasses (56),₹486,75% off
97,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹599,70% off
98,MODE,UV Protection Aviator Sunglasses (Free Size),₹179,77% off
99,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
100,NuVew,"UV Protection Rectangular, Retro Square Sungla...",₹398,82% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.
You will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [431]:
#Connecting with Driver
driver=webdriver.Chrome(r"D:\webdriver\chromedriver.exe")

In [432]:
#Sending url
driver.get('http://www.flipkart.com/')

In [433]:
#Closing the login window
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [434]:
#Sending iphone 11 in the search box
finds=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
finds.send_keys('iphone 11')

In [435]:
# Clicking the search box
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [436]:
#Clicking the first iphone 11 in results
geet=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a')
geet.click()

In [437]:
#Connecting the driver to new pop in page
driver.get('https://www.flipkart.com/apple-iphone-11-black-128-gb/p/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8IBG6BS&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&iid=39344aac-a28b-4e14-a7a2-f5316631be91.MOBFWQ6BKRYBP5X8.SEARCH&ssid=d0opa6149s0000001664692162582&qH=f6cdfdaa9f3c23f3')

In [438]:
#Clicking the all Reviews button
ar=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div')
ar.click()

In [439]:
#Creating empty lists to store values
st=0
en=10
rating=[]
rs=[]
fr=[]

In [440]:
# Creating a loop for searching through multiple pages and searching with the help of xpath and storing the rating review summary and ful review
# in lists and also using time.sleep function so our code starts itearating 3 seconds late so our webpage
# can be loaded successfully
for page in range(st,en):
    ro=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in ro:
         rs.append(i.text)
    nextpage=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextpage.click()
    time.sleep(3)

In [441]:
for page in range(st,en):
    fro=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fro:
        fr.append(i.text.replace('\n',""))
    nextpage=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextpage.click()
    time.sleep(3)

In [442]:
for page in range(st,en):
    rt=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rt:
         rating.append(i.text)
    nextpage=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextpage.click()
    time.sleep(3)

In [443]:
# Creating Data Frame using pandas
df=pd.DataFrame({'Review summary':rs[0:100],'Full Review':fr[0:100],'Rating':rating[0:100]})
df.index+=1
df

,Review summary,Full Review,Rating
1,Simply awesome,Really satisfied with the Product I received.....,5
2,Value-for-money,I'm Really happy with the productDelivery was ...,4
3,Perfect product!,Amazing phone with great cameras and better ba...,5
4,Best in the market!,Great iPhone very snappy experience as apple k...,5
5,Worth every penny,Previously I was using one plus 3t it was a gr...,5
...,...,...,...
96,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...,5
97,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...,4
98,Highly recommended,"Amazing camera quality as expected, battery al...",5
99,Worth every penny,"Smooth like butter, camera like fantabulous, s...",5
100,Perfect product!,Iphone is just awesome.. battery backup is ver...,5

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [444]:
#Connecting driver
driver=webdriver.Chrome(r"D:\webdriver\chromedriver.exe")

In [445]:
# Sending Url
driver.get('http://www.flipkart.com/')

In [446]:
#Closing login window
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [447]:
# Sending sneakers in search bar
finde=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
finde.send_keys('Sneakers')

In [448]:
#Clicking on the search bar
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [449]:
#Creating empty lists to store values
brands=[]
descr=[]
prices=[]
discounts=[]

In [450]:
# Creating a loop for searching through multiple pages and searching with the help of xpath and storing the brand,description price and discounts
# in lists and also using time.sleep function so our code starts itearating 3 seconds late so our webpage
# can be loaded successfully
s=0
e=3
for page in range(s,e):
    brndd=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brndd:
        brands.append(i.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)
    brands

In [451]:
s=0
e=3
for page in range(s,e):
    de=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in de:
        descr.append(i.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)
    descr

In [452]:
s=0
e=3
for page in range(s,e):
    p=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in p:
        prices.append(i.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)
    prices

In [453]:
s=0
e=3
for page in range(s,e):
    d=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in d:
        discounts.append(i.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)
    discounts

In [454]:
# Creating Data Frame using pandas
df=pd.DataFrame({'Brand':brands[0:100],'Product description':descr[0:100],'Price':prices[0:100],'Discount':discounts[0:100]})
df.index+=1
df

,Brand,Product description,Price,Discount
1,RapidBox,2 Combo Sneaker Shoes Sneakers For Men,₹590,74% off
2,Mzzideko,Sneakers For Men,₹549,63% off
3,BRUTON,Sneakers For Men,₹470,50% off
4,Labbin,Casual Sneakers Canvas Shoes For Men Sneakers ...,₹499,50% off
5,RED TAPE,Latest Exclusive Affordable Collection of Tren...,"₹1,499",45% off
...,...,...,...,...
96,frento,Sneakers For Men,₹599,65% off
97,World Wear Footwear,Sneakers For Men,₹289,74% off
98,Deals4you,Sneakers For Men,₹413,54% off
99,ASTEROID,Classic Sneakers For Men,₹499,50% off
100,Numenzo,Sneakers For Men,"₹2,799",71% off

 Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.
Note: Applying the filter and scraping the data, everything should be done through code only and there 
should not be any manual step.

In [455]:
# Connenting driver
driver=webdriver.Chrome(r"D:\webdriver\chromedriver.exe")

In [456]:
#Sending url
driver.get('https://www.myntra.com/shoes')

In [457]:
# Selecting price filter
pricefil=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
pricefil.click()

In [458]:
#Selecting color filter
colfil=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
colfil.click()

In [459]:
#Creating empty lists to store values
Brand=[]
Description=[]
Price=[]

In [460]:
# Creating a loop for searching through multiple pages and searching with the help of xpath and storing the brand,description, price
# in lists and also using time.sleep function so our code starts itearating 3 seconds late so our webpage
# can be loaded successfully
start=0
end=2
for page in range(start,end):
    bd=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in bd:
        Brand.append(i.text)
    nextpage=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    nextpage.click()
    time.sleep(3)

In [461]:
start=0
end=2
for page in range(start,end):
    dd=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in dd:
        Description.append(i.text)
    nextpage=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    nextpage.click()
    time.sleep(3)

In [462]:
start=0
end=2
for page in range(start,end):
    pp=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in pp:
        Price.append(i.text)
    nextpage=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    nextpage.click()
    time.sleep(3)

In [463]:
#Creating Data Frame using Pandas
df=pd.DataFrame({'Brand':Brand,'Product Description':Description,'Price':Price})
df.index+=1
df

,Brand,Product Description,Price
1,ADIDAS,Men MAX ELITE Running Shoes,Rs. 6999
2,UNDER ARMOUR,,Rs. 8550Rs. 9500(10% OFF)
3,ADIDAS,Men Solid Leather Formal Derbys,Rs. 11250Rs. 12500(10% OFF)
4,Skechers,Women Leather Horsebit Loafers,Rs. 8550Rs. 9500(10% OFF)
5,UNDER ARMOUR,Men Solid Leather Formal Monks,Rs. 7999
...,...,...,...
96,Tommy Hilfiger,Men MEERNO Sneakers,Rs. 9099Rs. 12999(30% OFF)
97,ALDO,Men Perforations Leather Loafers,Rs. 8999
98,ALDO,Men Textured Leather Loafers,Rs. 8075Rs. 9500(15% OFF)
99,fitflop,Men Textured Leather Loafers,Rs. 7199Rs. 11999(40% OFF)
100,UNDER ARMOUR,Men Woven Design Sneakers,Rs. 7149Rs. 10999(35% OFF)

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [464]:
# Connecting Driver
driver=webdriver.Chrome(r"D:\webdriver\chromedriver.exe")

In [501]:
# Sending Url
driver.get('https://www.amazon.in/')

In [470]:
#Sending Laptop in the search box
key=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
key.send_keys('LAPTOP')

In [471]:
#CLicking the search button
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [473]:
#Selecting the CPU type filter
ctype=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[10]/span/a/span')
ctype.click()

In [485]:
#Creating empty lists of titles,ratings and prices
titles=[]

In [486]:
Ratings=[]

In [487]:
Prices=[]

In [495]:
# Creating a loop for  and searching with the help of xpath and storing the titles,ratings and price in respective Lists
tt=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-4"]')
for i in tt:
    titles.append(i.text)

In [496]:
rr=driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in rr:
    Ratings.append(i.text)

In [497]:
pr=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in pr:
    Prices.append(i.text)

In [498]:
len(Prices),len(Ratings),len(titles)

(56, 20, 56)

In [499]:
df=pd.DataFrame({'Title':titles[0:10],'Ratings':Ratings[0:10],'Price':Prices[0:10]})
df.index+=1
df

                                                Title Ratings     Price
1   Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...          1,00,000
2   Fujitsu UH-X 12th Gen Intel Evo Core i7 13.3 i...            99,990
3   Fujitsu UH-X 12th Gen Intel Evo Core i7 13.3 i...            99,990
4   ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...            77,990
5   Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...            79,990
6   Acer Nitro 5 Core i7 11th Gen 15.6" (39.62cms)...            89,990
7   Lenovo IdeaPad Flex 5 Intel Core i7 11th Gen 1...            74,990
8   HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...            86,990
9   ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...            93,290
10  (Renewed) Lenovo Intel 6th Gen Core i7 12.5 In...            24,964

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
ASSIGNMENT 2
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [502]:
# Connecting driver
driver=webdriver.Chrome(r"D:\webdriver\chromedriver.exe")

In [563]:
#Sending url
driver.get('https://www.ambitionbox.com/')

In [564]:
#Clicking on salary tab
sa=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span')
sa.click()

In [565]:
#Clicking on comapre salary popup
sac=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/a')
sac.click()

In [566]:
#Sending Data Scientist in search bar
prof=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
prof.send_keys('Data Scientist')

In [567]:
#Clicking on data scientist search bar
search=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
search.click()

In [568]:
# Storing company name in cname
cname=[]

In [569]:
# Using for loop and Xpath storing cname and only taking the data at 0 index
cn=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in cn:
    cname.append(i.text.split('\n')[0])

In [570]:
# Storing post
post=[]

In [571]:
# Using for loop and Xpath storing in post
po=driver.find_elements(By.XPATH,'//span[@class="jp"]')
for i in po:
    post.append(i.text.split('\n'))

In [572]:
# Storing in exp
exp=[]

In [573]:
# Using for loop and Xpath storing in exp and storing the data of 0 index
ex=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in ex:
    exp.append(i.text.split('(')[0])

In [574]:
exp

['3-4 yrs experience ',
 '2-4 yrs experience ',
 '2-4 yrs experience ',
 '1-2 yrs experience ',
 '2-4 yrs experience ',
 '1 yr experience ',
 '2-4 yrs experience ',
 '4 yrs experience ',
 '4 yrs experience ',
 '3 yrs experience ']

In [575]:
# Storing feedback on feeb
feeb=[]

In [576]:
# Using for loop and Xpath storing in feeb
fv=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in fv:
    feeb.append(i.text.replace('(',"").replace(')',""))

In [577]:
#Creating mini maxi and mm empty lists to store values
mini=[]
mm=[]
maxi=[]

In [578]:
# Using for loop and Xpath storing in mm
mi=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in mi:
    mm.append(i.text)
# Now seperating the data based on even and odd indexes and storing it in mini and maxi
for i in range(0,len(mm)):
    if i%2:
        maxi.append(mm[i])
    else:
        mini.append(mm[i])

In [579]:
# creating empty list to store avg
avg=[]

In [580]:
av=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in av:
    avg.append(i.text)

In [581]:
len(mini),len(maxi),len(avg),len(feeb),len(cname),len(exp)

(10, 10, 10, 10, 25, 10)

In [582]:
# Creating data frame using pandas
df=pd.DataFrame({"Company Name":cname[0:10],"Post":post,"Minimum Salary":mini,"Maximum Salary":maxi,"Average salary":avg,"Based on":feeb,"Experience":exp})
df.index+=1
df

,Company Name,Post,Minimum Salary,Maximum Salary,Average salary,Based on,Experience
1,Walmart,[Data Scientist Salary],₹ 25.0L,₹ 45.0L,₹ 32.2L,based on 24 salaries,3-4 yrs experience
2,Ab Inbev,[Data Scientist Salary],₹ 15.0L,₹ 26.0L,₹ 19.8L,based on 59 salaries,2-4 yrs experience
3,Optum,[Data Scientist Salary],₹ 11.0L,₹ 22.6L,₹ 16.4L,based on 49 salaries,2-4 yrs experience
4,ZS,[Data Scientist Salary],₹ 11.0L,₹ 22.0L,₹ 15.9L,based on 35 salaries,1-2 yrs experience
5,Fractal Analytics,[Data Scientist Salary],₹ 9.0L,₹ 23.0L,₹ 15.5L,based on 118 salaries,2-4 yrs experience
6,Sigmoid Analytics,[Data Scientist Salary],₹ 12.7L,₹ 19.7L,₹ 14.7L,based on 10 salaries,1 yr experience
7,Tiger Analytics,[Data Scientist Salary],₹ 9.0L,₹ 20.0L,₹ 14.6L,based on 70 salaries,2-4 yrs experience
8,Legato Health Technologies,[Data Scientist Salary],₹ 11.0L,₹ 20.0L,₹ 14.5L,based on 11 salaries,4 yrs experience
9,HSBC,[Data Scientist Salary],₹ 12.0L,₹ 18.0L,₹ 14.0L,based on 10 salaries,4 yrs experience
10,Tredence,[Data Scientist Salary],₹ 8.8L,₹ 17.5L,₹ 13.9L,based on 14 salaries,3 yrs experience